@import url('https://css.gg/menu.css');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    --font-main: 'Oswald', sans-serif;
    --font-text: 'Open Sans', sans-serif;
    --color-main: #444;
    --color-hover: #fff;
    --color-transparent: hsl(0deg, 100%, 100%,50%);
    --color-second-section: #f6bdd0; 
    --color-third-section: #fdc75d;
    --color-fourth-section: #0084c7;
    overflow-x: hidden;
}
.main,.image-section,.portfolio,.contact-us{
    min-height: 100vh;
    display: flex;
    background-repeat: no-repeat;
    background-size:cover;
    font-family: var(--font-main);
    font-size: 4em;
}
.main{
    justify-content: center;
    align-items: center;
    background-image: url(Resources/Coffie2.jpg);
    color:var(--color-main);
    background-position: center;
}
.main .title{
    text-align: center;
    padding:0 20px;
}
.main nav{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    border-bottom: var(--color-transparent) solid 2px;
}
.main nav ul{
    height:60px;
    display:flex;
    justify-content: space-around;
}
.main li{
    list-style: none;
    display:flex;
}
.main a{
    text-decoration:none;
    color:var(--color-main);
    font-size: .5em;
}
.container{
    width:32px;
    height:32px;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    top:16px;
    cursor: pointer;
    z-index:100;
    border-radius:50%;
}
.container:hover{
    background-color: var(--color-main);
    color: var(--color-hover);
    transition: .5s;
}
.menu{
    position: absolute;
    right: 0;
    top:0;
    height: 100vh;
    width: 50vh;
    background-color:var(--color-transparent);
    transform: translateY(-50vh);
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    padding: 61px 0 0;
}
.show{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: .5s;
}
.menu a{
    width: 100%;
    text-align: center;
    padding: 0 20px;
}
.menu a:hover{
    background-color: var(--color-main);
    color:var(--color-hover);
}
.image{
    background-image:url('Resources/Palta.jpg');
    width: 50%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: -150px 0;
}
.box-text{
    width:50%;
    padding: 50px;
    display: flex;
    font-family: var(--font-main);
    font-size: .5em;
    flex-flow: column;
    justify-content: center;
}
.box-text *{
    margin-bottom: 50px;
}
.box-text .title{
    width: 50%;
}
.box-text p{
    font-family: var(--font-text);
    font-size: .5em;
    color:#666;
}
.view-more{
    padding: 5px 10px;
    width: 120px;
    height: 35px;
    border: 2px solid var(--color-second-section);
    font-size: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    transition: .5s;
}
.view-more:hover{
    background-color: var(--color-second-section);
    transition: .5s;
}
.about-us{
    width: 50px;
    height: 2px;
    background-color: var(--color-second-section);
    margin-right: 20px;
    margin-bottom: 5px;
}
.about-text{
    font-family: var(--font-text);
    font-size: .5em;
    color:var(--color-second-section);
    margin-bottom: 5px;
}
.contain-about{
    display: flex;
    align-items: center;
    width: 50%;
    margin:0;
}
.third-section{
    flex-direction: row-reverse;
}
.ice-cream{
    background-image: url('Resources/ice-cream.jpg');
    background-position: 0;
}
.third-section .about-text{
    color:var(--color-third-section);
}
.third-section .about-us{
    background-color: var(--color-third-section);
}
.third-section .view-more{
    border-color: var(--color-third-section);
}
.third-section .view-more:hover{
    background-color: var(--color-third-section);
}

.orange{
    background-image: url('Resources/Orange.jpg');
    background-position: -200px 0;
}
.fourth-section .about-text{
    color:var(--color-fourth-section);
}
.fourth-section .about-us{
    background-color: var(--color-fourth-section);
}
.fourth-section .view-more{
    border-color: var(--color-fourth-section);
}
.fourth-section .view-more:hover{
    background-color: var(--color-fourth-section);
}
.multiple-image{
    display:flex;
}
.multiple-image *{
    width: 25%;
    height:50vh;
    background-position: 0;
}
.multiple-image div:nth-child(1){
    background-image:url('Resources/cherry.jpg');
}
.multiple-image div:nth-child(2){
    background-image:url('Resources/banana.jpg');

}
.multiple-image div:nth-child(3){
    background-image:url('Resources/egg.jpg');
    
}
.multiple-image div:nth-child(4){
    background-image:url('Resources/mushroom.jpg');
    
}

.portfolio,.contact-us{
    font-size:1em;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.portfolio span{
    font-family: var(--font-text);
    color:var(--color-second-section);
    margin-top: 20px;
}
.portfolio .title{
    font-size: 3em;
    margin: 0 30%;
    text-align: center;
}
.container-images,.container-cards{
    display:flex;
    justify-content: center;
    flex-flow: wrap;
    width: 75%;
    margin-bottom: 60px;
}
.container-images *,
.container-cards *{
    background-position:0;
    margin:3px;
}
.container-images *{
    width: 256px;
    height: 256px;
}
.container-images div:nth-child(1){
    background-image: url('Resources/cactus.jpg');
}
.container-images div:nth-child(2){
    background-image: url('Resources/mouth.jpg');
}
.container-images div:nth-child(3){
    background-image: url('Resources/lettuce.jpg');
}
.container-images div:nth-child(4){
    background-image: url('Resources/flower.jpg');
}
.container-images div:nth-child(5){
    background-image: url('Resources/camera.jpg');
}
.container-images div:nth-child(6){
    background-image: url('Resources/pinaplle.jpg');
}
.container-cards{
    padding:0 110px;
    justify-content: space-between;
}
.container-cards .card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 213px;
    overflow:hidden;
}

.card:nth-child(1){
    background:url(Resources/development.png) center/contain no-repeat, var(--color-fourth-section);
}

.card:nth-child(2){
    background:url(Resources/design.png) center/contain no-repeat, var(--color-third-section);
}
.card:nth-child(3){
    background:url(Resources/editing.png) center/contain no-repeat, var(--color-second-section);
}
.card:nth-child(4){
    background:url(Resources/strategy.png) center/contain no-repeat, var(--color-fourth-section);
}

.contact-us{
    background-image: url('Resources/pool-party.jpg');
    color:var(--color-main);
}
.contact-us *{
    margin-bottom: 10px;
    width: 30%;
}
.contact-us h2{
    font-size:3em;
    text-align: center;
    margin-bottom: 30px;
}

.contact-us input,.contact-us textarea{
    border: var(--color-main) solid 3px;
    background:#dadada87;
    border-radius: 3px;
    height: 30px;
    padding: 10px;
}
.contact-us textarea{
    height: 120px;
    resize: none;
}

.contact-us input[type="submit"]{
    background-color:var(--color-main);
    color:var(--color-third-section);
    width:100px;
    font-family:var(--font-main);
    letter-spacing: 2px;
    padding:0;
}

@media only screen and (max-width: 600px) {
    .image-section{
        flex-flow:column;
    }
    .image{
        width: 100%;
        background-size: 100%;
        height: 50vh;
        background-position: center;
    }
    .box-text{
        width: 100%;
        padding: 30px;
        font-size: .6em;
    }
    .box-text .title{
        width:100%;
        text-align: center;
    }
    .multiple-image *{
        height: 20vh;
        background-size:cover;
    }
    .portfolio .title{
        font-size: 2.5em;
        padding:20px;
    }
    .container-images *{
        width: 100px;
        height: 100px;
        background-size: cover;
    }
    .container-cards{
        padding: 0;
        flex-flow: row;

    }
    .container-cards .card{
        height: 120px;
    }
    .contact-us{
        background-position-x: -300px;
    }
    .contact-us *{
        width: 70%;
    }
  }
  @media only screen and (min-width:601px){
    .main-img{
        background-size: 200% 100%;
        background-position: center;
    }
    .multiple-image *{
        background-position: center;
    }
    .multiple-image div:nth-child(2),
    .multiple-image div:nth-child(4){
    background-size: 120% 100%;
    }
    .container-images *{
        width: 156px;
        height: 156px;
    }
    .container-cards{
        padding: 0;
        justify-content: center;
    }
    .container-cards .card{
        width: 90px;
        height: 106px;

    }
    .contact-us * {
        width: 60%;
    }
  }

  @media only screen and (min-width:992px){
    .main-img {
        background-size: cover;
    }
    .container-images *{
        width: 220px;
        height: 220px;
    }
    .container-cards .card {
        width: 160px;
        height: 212px;
    }
  }
 